<h1>Lista de Productos</h1>

<div id="productList">
  {{#each products}}
    <div class="product-card">
      {{#if thumbnails.[0]}}
        <img src="{{thumbnails.[0]}}" alt="imagen de {{title}}">
      {{/if}}
      <h3><a href="/products/{{this._id}}">{{title}}</a></h3>
      <p><strong>Precio:</strong> ${{price}}</p>
      <p><strong>Stock:</strong> {{stock}}</p>
      <p><strong>Categoría:</strong> {{category}}</p>
      <p><strong>Descripción:</strong> {{description}}</p>
      <button class="addToCartBtn" data-id="{{this._id}}">Agregar al Carrito</button>
    </div>
  {{/each}}
</div>

<div class="pagination">
  {{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}">Anterior</a>
  {{/if}}
  <span>Página {{page}} de {{totalPages}}</span>
  {{#if hasNextPage}}
    <a href="/products?page={{nextPage}}">Siguiente</a>
  {{/if}}
</div>